$primary-background-color-yellow: #F4E041;
$hover-background-color-yellow: #FFE302;
$disabled-button-background-color: #B4B4B4;
$secondary-color-blue: #00BDD3;
$grey-background-color: #7C7C7C;
$light-grey-background-color: #F8F8F8;
$black-text-color: #000000;
$white-text-color: #FFFFFF;
$grey-text-color: #7E7E7E;
$grey-border-color: #D0CFCF;
$red-error-color: #CB3D40;