$primary-color-yellow: #F4E041;
$hover-color-yellow: #FFE302;
$disabled-button-color: #B4B4B4;
$secondary-color-blue: #00BDD3;
$background-color-light-grey: #F8F8F8;
$black-color: #000000;
$white-color: #FFFFFF;